/* ==========================================================================
   base.css: Reset básico, variáveis globais e temas.
   ========================================================================== */

   :root {
    /* Cores de Fundo e Texto */
    --background-dark: #0f172a;
    --background-light: #1e293b;
    --text-primary: #e2e8f0;
    --text-secondary: #94a3b8;

    /* Estilos "Glass" */
    --glass-bg: rgba(30, 41, 59, 0.7);
    --glass-bg-light: rgba(255, 255, 255, 0.05);
    --glass-border: rgba(255, 255, 255, 0.1);

    /* Cores de Status */
    --status-aprovado: #2ecc71;
    --status-reprovado: #e74c3c;
    --status-entregue: #ffffff;
    --status-ressalva: #e67e22;
    --status-analise: #3498db;

    /* Cores de Papéis (Roles) */
    --role-aluno: #3498db;
    --role-coord: #9b59b6;
    --role-secret: #e67e22;
    --role-admin: #e74c3c;
}

/* Tema Padrão */
.theme-default {
    --primary-glow: #00aaff;
    --primary-glow-transparent: rgba(0, 170, 255, 0.1);
    --primary-gradient: linear-gradient(45deg, var(--primary-glow), #8e44ad);
}

/* Tema Administrador */
.theme-admin {
    --primary-glow: #e74c3c;
    --primary-glow-transparent: rgba(231, 76, 60, 0.1);
    --primary-gradient: linear-gradient(45deg, var(--primary-glow), #f39c12);
}

/* Define a base para que 1rem = 10px */
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: var(--background-dark);
    color: var(--text-primary);
    min-height: 100vh;
    font-size: 1.6rem; /* Padrão 16px */
    line-height: 1.6;
}

.dotted-background {
    background-image: radial-gradient(circle at 1% 1%, var(--background-light) 1px, transparent 1px),
                      radial-gradient(circle at 99% 99%, var(--background-light) 1px, transparent 1px);
}